
<div id="container">

    <div>
        <label for="">Añade las reglas del juego (vivas/muertas) </label>
        <input type="text" [(ngModel)]="reglas" id="inputReglas">
    </div>



    <div id="table">
        <div class="fTable" *ngFor="let f of tabla; let i = index">
            <app-celda class="cell" *ngFor="let c of f; let j = index" (click)="modificarEstado(i, j)" [datos]="c" [ngClass]="{'bordes': borde}">
                
            </app-celda>
            <!-- <span class="cell" *ngFor="let c of f; let j = index" (click)="modificarEstado(i, j, celda)" #celda id={{i}}-{{j}}>
                {{ c }}        
            </span> -->
            
        </div>
    </div>
    <br>
  
    <div id="buttons">
        <button type="button" class="btnOneStep" (click)="oneStep()">One Step</button>
        <button type="button" class="btnPlay" (click)="play() " [disabled]="!playActive">Play</button>
        <button type="button" class="btnStop" (click)="stop()" [disabled]="playActive">Stop</button>
        <button type="button" class="btnDead" (click)="muerte()">Muerte</button>
        <button type="button" class="btnCeldas" (click)="celdas()">Celdas</button>
        <!-- <button type="button" (click)="destruir()">Eliminar</button> -->

    </div>
</div>
