h1{
    margin:0;
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    height: 50px;
}
button{
    margin: 10px;
    cursor:pointer;
    background-color: cadetblue;
    border-radius: 5px;
}