*{
    margin: 0;
    padding: 0;
    background-color: rgb(173, 181, 255); 
}
h1{
    margin:0;
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    height: 50px;
}
button{
    margin: 10px;
    cursor:pointer;
    background-color: rgb(65, 198, 202);
    border-radius: 5px;
}